{% extends "layout.html" %}

{% block content %}    
<script type="text/javascript" src="{{ url_for('static', filename = 'automation.js') }}"></script>
        <div class="container mt-4">
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <ul class="list-unstyled">
                            {% for category, message in messages %}
                                <li class="alert alert-{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            
            <div class="row">
                <!-- Column 1: Autofill for Entire Unit or Specific Soldier -->
                <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Autofill Documents</h4>
                    </div>
                    <div class="card-body">
                        <p>Allow autofill for the entire unit or selected individuals.</p>
                        <!-- Form for autofill selection -->
                        <form method="POST">
                            <div class="form-group">
                                <label for="selectionType" style="font-weight: bold;">Choose autofill type:</label>
                                <select id="selectionType" name="selectionType" class="form-control" onchange="toggleSelection()">
                                    
                                    <option value="unit">Unit</option>
                                    <option value="soldier">Individual Soldier</option>
                                </select>
                            </div>
                            <!-- Unit Selection -->
                            <div class="form-group" id="unitSelectDiv" style="display: block;">
                                <label for="unitSelect" style="font-weight: bold;">Select Unit:</label>
                                <select id="unitSelect" class="form-control" name="unitSelect">
                                    <!-- Loop through unique UICs -->
                                    {% for uic in uics %}
                                        <option value="{{ uic }}">{{ uic }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                
                            <!-- Soldier Selection (dynamically populated) -->
                            <div class="form-group" id="soldierSelectDiv" style="display: none;">
                                <label for="soldierSelect" style="font-weight: bold;">Select Soldier:</label>
                                <select id="soldierSelect" class="form-control" name="soldierSelect">
                                    <!-- Loop through soldiers and display their details -->
                                    {% for id, soldier in soldiers.items() %}
                                        <option value="{{ id }}">{{ soldier.rank }} {{ soldier.first_name }} {{ soldier.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                
                            <button type="submit" class="btn btn-primary mt-3">Autofill</button>
                        </form>
                    </div>
                </div>
                </div>
        
                <!-- Column 2: Schedule Batch Pull of Documents -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Schedule Batch Pull of Documents</h4>
                        </div>
                        <div class="card-body">
                          
                        </div>
                    </div>
                </div>
        
                <!-- Column 3: Run KSD Validation Report -->
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>Run KSD Validation Report</h4>
                        </div>
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
 


{% endblock %}